.App {
  background: linear-gradient(139deg, rgb(21 20 137) 0%, rgb(9 8 24) 100%);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.widget {
  background: rgb(255 255 255 / 18%);
  text-align: left;
}
.widget > .textContainer{
  margin: 5%
}
.widget-number{
  font-size: calc(10px + 2vmin);
  font-weight: 600;
}
.widget-info{
  font-size: calc(9px + 1.5vmin);
  font-weight: 400;
  font-variant: small-caps;
}
*, ::after, ::before {
  box-sizing: unset!important;
}
.graphContainer{
  margin-bottom: 3%;
}